services:
  redis:
    image: redis:7
    container_name: falcontouch-redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      args:
        NODE_ENV: production
    container_name: falcontouch-api-prod
    ports:
      - "3001:3001"
    env_file:
      - .env.prod
    environment:
      - NODE_ENV=production
    volumes:
      - ./:/app
      # - node_modules_backend:/app/node_modules
      - ./certs:/app/certs:ro
    command: sh -c "npm install && node server.js"
    depends_on:
      - redis
    restart: unless-stopped

  worker:
    build:
      context: .
      args:
        NODE_ENV: production
    container_name: falcontouch-worker
    env_file:
      - .env.prod
    environment:
      - NODE_ENV=production
    volumes:
      - ./:/app
      # - node_modules_backend:/app/node_modules
    command: sh -c "npm install && node src/app/components/game/workers/pixWorker.js"
    depends_on:
      - redis
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: frontend-prod.dockerfile
      args:
        NODE_ENV: production
    container_name: falcontouch-frontend-prod
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/etc/nginx/ssl:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  node_modules_backend: