<div class="auth-container">
  <h2>Redefinir senha</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="newPassword">Nova senha:</label>
    <input type="password" formControlName="newPassword" required />
    <div *ngIf="form.controls['newPassword'].invalid && form.controls['newPassword'].touched">
      A senha deve ter no mínimo 6 caracteres.
    </div>

    <button type="submit" [disabled]="loading">Salvar nova senha</button>
  </form>

  <p *ngIf="message">{{ message }}</p>
</div>
